
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}
body{
    background-color: black;
}
.page{
    background-color: black;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.page ul {
    display: flex;
    list-style-type: none;
}
.page ul li a{
    color: rgb(17, 128, 126);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px;
    align-items: center;
}
.page ul li{
    padding: 30px 30px;
}
.page ul li a:hover{
    background-color: rgb(124, 175, 142);
}
.dropdown{
    display: block;
}
.page ul li:hover  .dropdown{
    display: block;
    position: absolute;
    top: 90px;
    background-color: black;
}
.dropdown ul{
    display: block;
    margin: 10px;
    padding: 5px 5px;
}
.dropdown ul li{
    width: 250px;
    padding: 10px 10px;
}
.logo{
    color: white;
    position: relative;
    top: 15px;
    text-decoration: none;
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
}
p{
    position: relative;
    left: 530px;
    bottom: 500px;
    width: 950px;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 10px;
    letter-spacing: 1px;
    color: white;
}
div{
    top: 1220px;
    font-family: "Edu AU VIC WA NT Pre", cursive; 
    font-weight: 900;
    font-size: 50px;
    color: rgb(66, 4, 43);
    padding: 10px 10px;
}
.nan{
    display: inline-block;
    position: absolute;
    bottom:0;
    top: 170%;
    padding: 10px;
}
.photo{
    position: absolute;
    right: 0;
    bottom: 0px;
    top: 185%;
    padding: 10px 10px;
}
.big{
    
    position: absolute;
    left: 0;
    top: 185%;
    bottom: 500px;
    width: 950px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 40px;
    padding: 10px 10px;
    letter-spacing: 1px;
    color: white;
}
h2{
    font-size: 40px;
    padding: 10px;
    color: rgba(95, 243, 228, 0.553);
    text-decoration: underline;
}
.small{
    text-transform: uppercase;
    font-size: 20px;  
    font-weight: 800;
    line-height: 40px;
    position: relative;
    left: 0;
    right: 600px;
    top: 240px;
    padding: 10px 10px;
    color: white;
}
footer{
    position: relative;
    
}
footer p{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 98%;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
.py{
    font-size: 70px;
    background-color: rgb(104, 5, 5);
    color: rgb(243, 243, 247);
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 50px;
    padding: 20px 20px;
    color: rgba(246, 223, 12, 0.904);
    font-size: 60px;
}

li{
    font-size: 30px;
    padding: 30px ;
    color: white;
}
.sari{
    font-size: 60px;
    color: rgba(23, 245, 174, 0.579);
}
.two{
    font-size: 60px;
    color: rgba(23, 245, 174, 0.579);
}
.three{
    font-size: 60px;
    color: rgba(23, 245, 174, 0.579);
}
.pyb{
    font-size: 40px;
    padding: 10px 10px;
}
h3{
    font-size: 60px;
    color: rgb(121, 74, 12);
    padding: 20px 20px;
}
code{
    font-size: 30px;
    border: 4px solid white;
    line-height: 150px;
    padding: 20px 20px;
    color: rgb(48, 99, 99);
}
#bo{
    background-color: black;
}
table{
    border: 2px solid rgb(12, 12, 12);
    background-color: blueviolet;
    
}
th{
    color: blueviolet;
    display: flex;
    padding: 10px 10px;
    border: 2px solid rgb(7, 47, 47);
    background-color: rgb(7, 47, 47);
}
tr{
    border: 2px solid white;
}
td{
    padding: 10px 10px;
}
#why{
    background-color: blueviolet;
}
#why h1{
    font-size: 80px;
    color: rgb(52, 3, 43);
    padding: 10px 10px;
}
#why b{
    font-size: 40px;
    color: rgba(232, 194, 27, 0.792);
}
#why h2{
    color: rgba(159, 88, 12, 0.755);
    font-size: 60px;
    padding: 10px 10px;
    text-decoration: underline;
}
#why li{
    color: black;
}

.guido{
    position: relative;
    padding: 10px 10px;
}
.sas{
    position: relative;
    top: 0;
    
}
.one li{
    font-size: 60px;
    color: rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.two li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.three li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.four li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.five li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.six li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.seven li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.eight li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.nine li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.ten li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.eleven li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.twelve li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.thirteen li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.fourteen li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.fifteen li{
    font-size: 60px;
    color:  rgb(33, 165, 165);
    text-decoration: underline;
    text-transform: uppercase;
}
.sas samp{
    color: rgb(162, 15, 133);
    font-size: 40px;
    text-transform: uppercase;
}
.sas h1{
    color: rgb(245, 110, 164) ;
}
.sas i{
    background-color: rgb(99, 119, 136);
    padding: 5px 5px;
    opacity: 1;
    color: black;
    border-radius: 30%;
}
.advance{
    background-color: black

}
.advance h1{
    font-size: 80px;
    color: rgba(131, 75, 209, 0.915);
    padding: 20px 20px;
}
.advance h1:hover{
    text-decoration: underline;

}
.advance h3{
    color: rgba(192, 44, 128, 0.953);
}
.advance table{
    border: solid rgb(251, 249, 249) 4px;
    background-color:rgb(82, 81, 81);
    justify-content: space-between;
    width: auto;
}
.advance li{
    padding: 20px 20px;
    
}
.advance td{
    color: white;
    padding: 20px 20px;
}
.advance th{
    text-transform: uppercase;
    color: black;
}
.advance table tr th td{
    justify-content: center;
    align-items: center;
} 

@media screen and (max-width: 600px)
{
    *{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", sans-serif;
        
    }
    body{
        background-color: black;
    }
    .page{
        background-color: black;
        height: 60px;
        display: flex;
        justify-content: space-between;

    }
    .page ul {
        display: flex;
        list-style-type: none;
    }
    .page ul li a{
        color: rgb(17, 128, 126);
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 10px;
        align-items: center;
    }
    .page ul li{
        width: 29%;
        padding: 30px 10px;
    }
    .page ul li a:hover{
        background-color: rgb(124, 175, 142);
    }
    .dropdown{
        display: block;
    }
    .page ul li:hover  .dropdown{
        display: block;
        position: absolute;
        top: 69px;
        background-color: black;
        width: 29%;
    }
    .dropdown ul{
        display: block;
        margin: 1px;
        padding: 10px 10px;
    }
    .dropdown ul li{
        padding: 5px 5px;
    }
    .dropdown ul li a{
        padding: 5px 5px;
    }
    .logo{
        color: white;
        position: relative;
        top: 8px;
        text-decoration: none;
        font-size: 40px;
        text-transform: uppercase;
        position: relative;
    }
    .guido{
        padding: 5px;
        height: 150px;
        width: 100px;
    }
    p{
        position: relative;
        left: 105px;
        bottom: 170px;
        width: 520px;
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 2px;
        padding: 10px 10px;
        letter-spacing: 1px;
        color: white;
    }
    div{
        top: 1220px;
        font-family: "Edu AU VIC WA NT Pre", cursive; 
        font-weight: 900;
        font-size: 50px;
        color: rgb(66, 4, 43);
        padding: 10px 10px;
    }
    .img1{
        width: 660px;
    }
    .nan{
        color: bisque;
        width: 4px;
        font-size: 20px;
        display: inline-block;
        position: absolute;
        bottom:0;
        top: 120%;
        padding: 10px;
    }
    .photo{
        position: absolute;
        right: 0;
        bottom: 0px;
        top: 160%;
        height: 100px;
        width: 100px;
        padding: 10px 10px;
        z-index: -1;
    }
    .big{
        position: absolute;
        left: 0;
        top: 140%;
        bottom: 660px;
        width: 560px;
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 20px;
        padding: 10px 10px;
        letter-spacing: 1px;
        color: white;
    }
    h2{
        font-size: 20px;
        padding: 10px 5px;
        color: rgba(95, 243, 228, 0.553);
        text-decoration: underline;
    }
    .small{
        text-transform: uppercase;
        font-size: 20px;  
        font-weight: 800;
        line-height: 40px;
        position: relative;
        left: 0;
        right: 600px;
        top: 190px;
        width: 600px;
        padding: 5px 5px;
        color: white;
    }
    footer{
        position: relative;
        
    }
    footer p{
        background-color: #333;
        color: white;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        width: 600px;
        height: 50px;
      }
      
      footer a {
        color: #fff;
        text-decoration: none;
      }
      
      footer a:hover {
        text-decoration: underline;
      }
    .py{
        font-size: 60px;
        background-color: rgb(104, 5, 5);
        color: rgb(243, 243, 247);
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
    }
    h4{
        font-size: 40px;
        padding: 10px 10px;
        color: rgba(246, 223, 12, 0.904);
        width: 600px;
    }
    h3{
        font-size: 40px;
        color: red;
        width: 600px;
    }
    li{
        font-size: 20px;
        padding: 10px ;
        color: white;
        width: 600px;
    }
    .sari{
        font-size: 60px;
        color: rgba(23, 245, 174, 0.579);
    }
    .two{
        font-size: 60px;
        color: rgba(23, 245, 174, 0.579);
    }
    .three{
        font-size: 60px;
        color: rgba(23, 245, 174, 0.579);
    }
    .pyb{
        font-size: 40px;
        padding: 10px 10px;
    }
    h3{
        font-size: 60px;
        color: rgb(121, 74, 12);
        padding: 20px 20px;
    }
    code{
        font-size: 30px;
        border: 4px solid white;
        line-height: 150px;
        padding: 20px 20px;
        color: rgb(48, 99, 99);
    }
    #bo{
        background-color: black;
    }
    table{
        border: 2px solid rgb(12, 12, 12);
        background-color: blueviolet;
        
    }
    th{
        color: blueviolet;
        display: flex;
        padding: 10px 10px;
        border: 2px solid rgb(7, 47, 47);
        background-color: rgb(7, 47, 47);
    }
    tr{
        border: 2px solid white;
    }
    td{
        padding: 10px 10px;
    }
    #why{
        background-color: blueviolet;
        width: 600px;
    }
    #why h1{
        font-size: 80px;
        color: rgb(52, 3, 43);
        padding: 10px 10px;
    }
    #why b{
        font-size: 40px;
        color: rgba(232, 194, 27, 0.792);
    }
    #why h2{
        color: rgba(159, 88, 12, 0.755);
        font-size: 60px;
        padding: 10px 10px;
        text-decoration: underline;
    }
    #why li{
        color: black;
    }
    
    .guido{
        position: relative;
        padding: 10px 10px;
    }
    .sas{
        position: relative;
        top: 0;
        
    }
    .one li{
        font-size: 40px;
        color: rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .two li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .three li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .four li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .five li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .six li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .seven li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .eight li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .nine li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .ten li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .eleven li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .twelve li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .thirteen li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .fourteen li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .fifteen li{
        font-size: 20px;
        color:  rgb(33, 165, 165);
        text-decoration: underline;
        text-transform: uppercase;
    }
    .sas samp{
        color: rgb(162, 15, 133);
        font-size: 20px;
        text-transform: uppercase;
    }
    .sas h1{
        color: rgb(245, 110, 164) ;
        font-size: 20px;
    }
    .sas i{
        background-color: rgb(99, 119, 136);
        padding: 5px 5px;
        opacity: 1;
        color: black;
        border-radius: 30%;
    }
    .advance{
        background-color: black
    
    }
    .advance h1{
        font-size: 60px;
        color: rgba(131, 75, 209, 0.915);
        padding: 20px 20px;
        width: 600px;
    }
    .advance h1:hover{
        text-decoration: underline;
    
    }
    .advance h3{
        color: rgba(192, 44, 128, 0.953);
        width: 600px;
    }
    .advance table{
        border: solid rgb(251, 249, 249) 4px;
        background-color:rgb(82, 81, 81);
        justify-content: space-between;
        width: 600px;
    }
    .advance li{
        font-size: 40px;
        padding: 20px 20px;
        width: 600px;
    }
    .advance li i{
        color: red;
    }   
    .advance td{
        color: white;
        padding: 20px 20px;
    }
    .advance th{
        text-transform: uppercase;
        color: black;
    }
    .advance table tr th td{
        justify-content: center;
        align-items: center;
    } 
}